<form
  class="form-horizontal"
  autocomplete="off"
  #createRoleForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Create New Question' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Ask Question' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name">
            {{ "Topic" | localize }}
          </label>
          <div class="col-md-9">
            <select class="form-control" [(ngModel)]="question.topicId" name="topicId"  #topicid="ngModel">
                <option disabled>Select Topic</option>
                <option *ngFor="let topic of topics" [ngValue]="topic.id">{{topic.topicName}}</option>
            </select>
            <abp-validation-summary
              [control]="topicid"
            ></abp-validation-summary>
          </div>
        </div>

        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label" for="description">
            {{ "Question" | localize }}
          </label>
          <div class="col-md-9">
            <textarea
              type="text"
              class="form-control"
              name="description"
              id="description"
              [(ngModel)]="question.questionsText"
            >
            </textarea>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createRoleForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
